###### Requirements without Version Specifiers ######
flask
requests
PyGithub
PyInquirer
GitPython

argparse

tqdm
datetime
pathlib
clint

questionary
requests_oauthlib 
uuid
yaspin
randomname
tabulate
alive-progress
websockets
