###### Requirements without Version Specifiers ######
flask
requests
PyGithub
PyInquirer
GitPython
# threading
argparse
# shutil
# models
tqdm
datetime
pathlib
clint
sqlalchemy
pymysql
# re
# itertools
questionary
gunicorn
requests_oauthlib 
waitress
cryptography
uuid
yaspin
randomname
tabulate
alive-progress
websockets
python-socketio[client]
python-engineio[asyncio]
aiohttp
watchdog